<a href="https://colab.research.google.com/github/armandovl/youtube/blob/main/Orden_y_union_de_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reacomodo de variables

In [ ]:
# python 3.x
import pandas as pd
df = pd.DataFrame({'a':['1','2','3','4'], 
                   'b': [16,7,6,16],
                   'c':[61,57,16,36],
                   'd':['12','22','13','44'],
                   'e':['Green','Red','Blue','Yellow'],
                   'f':[1,11,23,66]})
print(df)

In [ ]:
df = df[['e','c','b','f','d','a']]
print('Rearranging ..................')
print('..............................')
print(df)

## columna reindex para un orden determinado en Pandas

In [ ]:
# python 3.x
import pandas as pd
df = pd.DataFrame({'a':['1','2','3','4'], 
                   'b': [16,7,6,16],
                   'c':[61,57,16,36],
                   'd':['12','22','13','44'],
                   'e':['Green','Red','Blue','Yellow'],
                   'f':[1,11,23,66]})
print(df)

In [ ]:
print('Rearranging ..................')
print('..............................')
df = df.reindex(columns=['a','f','d','b','c','e'])
print(df)

##insert una nueva columna con la ubicación específica en Pandas

In [ ]:
# python 3.x
import pandas as pd
df = pd.DataFrame({'a':['1','2','3','4'], 
                   'b': [16,7,6,16],
                   'c':[61,57,16,36],
                   'd':['12','22','13','44'],
                   'e':['Green','Red','Blue','Yellow'],
                   'f':[1,11,23,66]})
print(df)

In [ ]:
print('Inserting ..................')
print('..............................')
df.insert(0, 'newColMean', df.mean(1))
print(df)

## Ejemplo dos

In [ ]:
# https://www.it-swarm-es.com/es/python/pandas-cruz-unir-sin-columnas-en-comun/822464097/

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'fld1': ['x', 'y'],
                'fld2': ['a', 'b1']})


df2 = pd.DataFrame({'fld3': ['y', 'x', 'y'],
                'fld4': ['a', 'b1', 'c2']})

print (df1)


print (df2)


df1['tmp'] = 1
df2['tmp'] = 1

df = pd.merge(df1, df2, on=['tmp'])

In [ ]:
df = df.drop('tmp', axis=1)
print (df)

## Ejemplo 3

In [ ]:
#https://runebook.dev/es/docs/pandas/user_guide/merging

In [ ]:
import pandas as pd
import numpy as np

df_1 = pd.DataFrame({"fruta": ["manzana", "pera", "platano", "naranja", "aguacate"],
                    "precio": [0.20, 0.45, 0.15, 0.12, 0.62]})
df_2 = pd.DataFrame({"stock": [10, 20, 25, 12, 40]})
df_3 = pd.DataFrame({"ventas_totales":[3, 5, 2, 3, 6],
                     "ingresos_ventas": [120, 110, 64,44, 147]})

In [ ]:
pd.concat([df_1, df_2, df_3], axis=1)

In [ ]:
pd.concat([df_1, df_2, df_3], axis=0)

## otro

In [ ]:
#https://qastack.mx/programming/38256104/differences-between-merge-and-concat-in-pandas

In [ ]:
f1 = pd.DataFrame({'Key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})

print(f1)

f2 = pd.DataFrame({'Key': ['a', 'b', 'd'], 'data2': range(3)})

print(f2)

In [ ]:

#Merge
# The 2 dataframes are merged on the basis of values in column "Key" as it is 
# a common column in 2 dataframes

pd.merge(f1, f2)

In [ ]:
#Concat
# df2 dataframe is appended at the bottom of df1 

pd.concat([f1, f2])